@import '~@fortawesome/fontawesome-svg-core/styles.css';
$main: #2d3a63;

.App {
  text-align: center;
}
 
h1, h2, h3, h4, h5, h6, a {
  font-family: 'Playfair Display SC', serif;
}

p, span {
  font-family: 'Source Sans Pro', sans-serif;
}

